- @title= "Mindapp Logs"
= paginate @xmains
%table{:id=>"pending-table", :width=>"100%"}
  %tr{:style=>"color:white; background-color:#97BF60;"}
    %th id
    %th task
    %th step
    %th starter
    %th begin
    %th status
  - @xmains.each do |xmain|
    - @xmain= xmain
    - next unless xmain.current_runseq
    - @runseq= Mindapp::Runseq.find(xmain.current_runseq)
    - next unless @runseq
    %tr
      %td= link_to xmain.xid, "/mindapp/status?xid=#{xmain.xid}"
      %td= xmain.name
      %td= @runseq.name
      %td(align="center")= xmain.user.try :code
      %td= xmain.start.strftime("%c")
      %td(align="center")= status_icon(xmain.status)
