.head
  = step(@runseq.form_step, @xvars['total_form_steps'])
%p
- user = current_user || User.new
- form_class = 'formtastic'
- next_step = 'end_form'
- if @help
  %div(data-role="collapsible" data-theme="e" data-content-theme="c" data-mini="true")
    %h3 ตำแนะนำ
    %p= markdown(@help)
= form_tag({ :action => next_step } , {:multipart => true, :onSubmit=>'return validate()', :class=>form_class, "data-ajax"=>"#{ajax?(@ui)}"}) do
  = hidden_field_tag 'xmain_id', @xmain.id
  = hidden_field_tag 'ajax', ajax?(@ui)
  = hidden_field_tag 'runseq_id', @runseq.id
  = hidden_field_tag 'step', @xvars[:current_step]
  %div(data-role="fieldcontain")
    = render :inline=> @ui
  %p
  = submit_tag NEXT
%p
:javascript
  $(function() {
    $('.required').append('<span style="color:red"> *</span>');
    $('.refresh').append(" <img src='/images/refresh.png'/>");
    $("input").keypress(function (evt) {
      //Deterime where our character code is coming from within the event
      var charCode = evt.charCode || evt.keyCode;
      if (charCode  == 13) { //Enter key's keycode
        alert("Please click the button");
        return false;
      }
    });
  });
  $( document ).one( "pagechange", function(){
    $('input[type="file"]').textinput({theme: 'c'});
  });

