%table{:width=>"100%"}
  %tr{:style=>"color:white; background-color:#6A6A6A;"}
    %th Status
    %th Step
    %th Starter
    %th Begin
    %th End
  - @xmain.runseqs.form_action.each do |r|
    %tr
      - if @xmain.status=='X'
        %td{:align=>'center'}= image_tag 'cancel.png'
      - else
        %td{:align=>'center'}= status_icon(r.status)
      %td= r.name
      %td{:align=>'center'}
        - if r.role.blank? && @xvars[:action]
          - u = @xvars[:action][:assign].blank? ? '&nbsp;' : User.find(@xvars[:action][:assign]).full_name
          = u
          - if @xvars[:action][:final]=='n'
            %td{:align=>'center'} -
            %td{:align=>'center'} -
          - else
            - if r.start
              %td= r.start.strftime('%c')
            - else
              %td{:align=>'center'} -
            - if r.stop
              %td= r.stop.strftime('%c')
            - else
              %td{:align=>'center'} -
        - else
          = role_name r.role
          - if r.start
            %td= r.start.strftime('%c')
          - else
            %td{:align=>'center'} -
          - if r.stop
            %td= r.stop.strftime('%c')
          - else
            %td{:align=>'center'} -
.label
  = image_tag "cog.png"
  Document
%table{:width=>"100%"}
  %tr{:style=>"color:white; background-color:#6A6A6A;"}
    %th Document
    %th Name
    %th User
    %th Date
  - @xmain.docs.each do |doc|
    - next unless doc.display
    %tr
      %td
        - if doc.content_type=='output'
          = image_tag 'page_output.png'
        - else
          = image_tag 'page_attach.png'
        = link_to align_text(doc.name), "/engine/document/#{doc.id}", :target=>'_blank'
      %td= doc.filename
      %td= doc.user.try(:full_name)
      %td= doc.created_at.strftime('%c')
