<%= form_tag "/auth/identity/callback", {'data-ajax'=>'false'} do %>
  <div class="field" data-role="fieldcontain">
    <%= label_tag :auth_key, "ชื่อผู้ใช้" %>
    <%= text_field_tag :auth_key %>
  </div>
  <div class="field" data-role="fieldcontain">
    <%= label_tag :password, "รหัสผ่าน" %>
    <%= password_field_tag :password %>
  </div>
  <div class="actions"><%= submit_tag "เข้าใช้ระบบ" %></div>
<% end %>
