<%= form_tag "/auth/identity/callback", {'data-ajax'=>'false'} do %>
  <div class="field" data-role="fieldcontain">
    <%= label_tag :auth_key, "User name" %>
    <%= text_field_tag :auth_key %>
  </div>
  <div class="field" data-role="fieldcontain">
    <%= label_tag :password, "Password" %>
    <%= password_field_tag :password %>
  </div>
  <div class="actions"><%= submit_tag "Sign In" %></div>
<% end %>
